@media only screen and (max-device-width: 420px) {
    form {
        width: 95vw;
        height: 40vh;
    }
    input {
        font: normal normal normal 50px/65px Yu Gothic;
    }
    button {
        width: 40vw;
        height: 10vh;
        font: normal normal normal 45px/60px Yu Gothic;
    }
    .container {
        flex-direction: column;
    }
    .base-container {
        display: flex;
        flex-direction: column-reverse;
        width: 100vw;
    }
    .sign {
        height: 50vh;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .button-container {
        display: flex;
        justify-content: center;
    }
    main {
        width: 100vw;
        height: 85vh;
        display: flex;
        flex-direction: column;
    }
    nav {
        width: 100vw;
        height: 15vh;
        display: flex;
    }
    .division, section, .division_shop {
        display: flex;
        flex-direction: column;
        padding: 3vw;
    }
    #photo {
        height: 28vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    #person>#frame {
        height: 79vh;
        display: flex;
        justify-content: center;
    }
    nav>img {
        display: none;
    }
    #information {
        font: normal normal normal 90px/90px Yu Gothic;
    }
    #information>input {
        font: normal normal normal 70px/50px Yu Gothic;
        margin: 0.25em;
    }
    #button_place {
        font: normal normal normal 72px/96px Yu Gothic;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #button_place>button {
        width: 40%;
        height: 8.5vh;
        box-shadow: none;
        font: normal normal normal 60px/50px Yu Gothic;
    }
    #add_new {
        width: 30vw;
    }
    ul {
        display: flex;
        flex-direction: row;
        margin: 3vw;
        justify-content: left;
        align-items: center;
    }
    p1 {
        display: none;
    }
    li, li>form>a {
        width: 20vw;
        font: normal normal normal 60px/40px Yu Gothic;
        margin: auto;
        padding: 0px;
    }
    li:last-child {
        width: 20vw;
        position: inherit;
    }
    li>.button {
        margin-left: 0px;
    }
    .division_shop>#frame, .division_shop>.frame {
        height: 73vh;
    }
    #part2 {
        height: 54vh;
    }
    #clear, #confirm {
        width: 40%;
        font: normal normal normal 30px/56px Yu Gothic;
    }
    .clear {
        display: flex;
        align-items: center;
        justify-content: center;
        font: normal normal normal 60px/56px Yu Gothic;
        height: 10vh;
    }
    .plan_division {
        display: flex;
        flex-direction: column;
        padding: 3vw;
    }
    #place_to_write {
        height: 68vh;
    }
    .login-container {
        width: 85vw;
    }
    .login-container>.login {
        width: 85vw;
    }
    textarea {
        font: normal normal normal 65px/56px Yu Gothic;
    }
    #person>#frame>form {
        width: 79vw;
    }
    p {
        margin: 0.3em;
    }
    img {
        width: 50%;
    }
    .logo>img {
        height: 30vh;
        width: 80vw;
    }
    #today>#frame, #tomorrow>#frame, #day_after_tomorrow>#frame  {
        height: 78vh;
    }
    #part1>p {
        font: normal normal normal 90px/65px Yu Gothic;
    }
    #product_list>p, #day_list>p  {
        font: normal normal normal 65px/60px Yu Gothic;
    }
    #meet-1>#frame>#button_place>.clear{
        width: 100%;
    }
}