body {
    margin: 0;
}

.container {
    width: 100vw;
    height: 100vh;
    background: #222432 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.logo {
    margin: 2vw;
}

form.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 40vw;
    height: 35vh;
    background: #FFFFFF 0% 0% no-repeat padding-box;
    box-shadow: 0px 10px 10px #00000029;
    border-radius: 18px;
}

button {
    text-align: center;
    font: normal normal normal 27px/44px Yu Gothic;
    letter-spacing: 0px;
    box-shadow: 0px 10px 5px #00000029;
    border: 3px;
    line-height: 2em;
    margin: 0 0.5em;
}

input {
    text-align: center;
    font: normal normal normal 20px/30px Yu Gothic;
    border: 1px solid gray;
    padding: 0.5em;
    margin: 0.5em;
    width: 80%;
}


.base-container {
    display: flex;
    align-items:center;
    justify-content: flex-start;
    height: 100vh;
}

main {
    width: 80vw;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

nav {
    width: 20vw;
    height: 100%;
    background: #222432 0% 0% no-repeat padding-box;

    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

nav > img {
    width: 70%;
    margin: 1em auto;
}

a {
    text-decoration: none;
    display: inline-block;
    line-height: 2em;
}

li i {
    font-size: 1em;
}

.button {
    background: #FFFFFF 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    border-radius: 40px;
    margin-left: 1em;
    text-align: center;
    letter-spacing: 0.7px;
    color: #222432;
    padding: 0.2em;
    width: 90%;
}

ul {
    list-style-type: none;
    font: normal normal normal 30px/40px Yu Gothic;
    letter-spacing: 0px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    position: relative;
}

li {
    text-align: left;
    margin-bottom: 1em;
}

li:last-child {
    position: absolute;
    bottom: 0;
    width: 100%;
}

.no-valid {
    border: 3px solid red;
    box-shadow: 0 0 0.2em red;
    outline: none;
}
