section, .division_shop {
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2em;
    padding: 2em;
    overflow: auto;
    height: 81.5vh;
}

.division{
    grid-gap: 2em;
    overflow: auto;
    height: 100vh;
}
.plan_division{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-gap: 2em;
    padding: 0.5em;
    overflow: auto;
}
#frame, .frame {
    border: 1px solid #222432;
    height: 83vh;
    box-shadow: 0px 5px 5px #222432;
    border: 3px solid #222432;
    text-align: center;
}
img {
    max-height: 100%;
}

#inscription {
    text-align: center;
    font: normal normal normal 55px/90px Yu Gothic;
    letter-spacing: 0px;
    color: #222432;
}

.clear, .confirm, #clear, #confirm {
    background: #222432 0% 0% no-repeat padding-box;
    border: 1px solid #707070;

    text-align: center;
    font: normal normal normal 30px/56px Yu Gothic;
    letter-spacing: 0px;
    color: #FFFFFF;
}

#part2 {
    height: 61vh;
}

#place_to_write {
    height: 72vh;
}

.division_shop>#frame, .division_shop>.frame {
    height: 83vh;
}

#person>#frame {
    height: 83vh;
}
hr {
    margin: 5px;
}

#information>input {
    height: 4vh;
}
#information {
    height: 40vh;
    font: normal normal normal 30px/56px Yu Gothic;
}
#circle {
    width: 20vw;
    height: 40vh;
    border-radius: 50%;
    border: 2px solid #707070;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

}
#circle>#add_photo {
    font-size: 10em;
    width: 15vw;
    height: 10vh;
    border: 1px solid #123456;
    font: normal normal normal 15px/30px Yu Gothic;
    box-shadow: none;
    display: flex;
    align-items: center;
    justify-content: center;
}
#photo {
    height: 30vh;
}
#add_new {
    width: 15vw;
    height: 8vh;
    background-color: #222432;
    border-radius: 18px;
    color: #FFFFFF;
}

#underside {
    display: flex;
    justify-content: flex-end;
}

#bracket {
    display: none;
}

textarea {
    width: 90%;
    height: 50%;
    font: normal normal normal 15px/30px Yu Gothic;
}
p {
    margin: 0.1em;
}
#part1>p {
    font: normal normal normal 40px/55px Yu Gothic;
}
#product_list>p, #day_list>p {
    font: normal normal normal 25px/40px Yu Gothic;
}